/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    /* overflow: hidden; */
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

.agent-container {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    width: 45%;
    position: fixed;

    top: 100vh;
    transform: translate(-50%);
    left: 50%;
}

.agent-head {
    width: 100%;
    transition: transform 0.05s ease;
    /* rotate from bottom right */
    transform-origin: 100% 100%;
    /* background-color: gold; */
}

.agent-body {
    width: 100%;
    transition: transform 0.05s ease;
    transform-origin: 100% 0;
    /* background-color: blanchedalmond; */
}

.agent-model {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 1rem;
}